*.o
*.mod
*.exe
*.x
*.out
*.cube
*.gz
expect*.xyz
!/example/run_H2O_ZPE/
/example/*/traj.xyz
/example/*/expectation*
/example/*/*.cube
/example/*/*.txt
/.ptp-sync
/.ptp-sync/*
/.project
/.cproject
/.settings
/.settings/*
.ptp-sync-folder
